.b-content__inline_item{
    position: relative;
    overflow: visible;
}
    .b-content__inline_item > .btn_url{
        position: absolute;
        top: -50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: black;
        color: white;
        cursor: pointer;
        z-index: 999;
        display: none;
    }
    .b-content__inline_item:hover > .btn_url{
        display: block;
    }
