.b-content__inline_item{
    position: relative;
    overflow: visible;
}
.b-content__inline_item.selected{
    background-color:green;
    text-align: center;
    color: white;
    padding: 0 0 10px;
    border-radius: 5px;
}
    .b-content__inline_item.selected a{
        color: white;
        text-decoration: none!important;
    }
    .b-content__inline_item > .btn_url{
        position: absolute;
        top: -50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        background-color: black;
        color: white;
        cursor: pointer;
        z-index: 999;
        display: none;
    }
    .b-content__inline_item:hover > .btn_url{
        display: block;
    }
