.b-content__inline_item{
    position: relative;
    overflow: visible;
}
    .b-content__inline_item .btn{
        position: absolute;
        top: -50px;
        width: 174px;
        line-height: 50px;
        text-align: center;
        background-color: black;
        color: white;
        display: none;
        cursor: pointer;
    }
    .b-content__inline_item:hover .btn{
        display: block;
    }
